@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('assets/css/fonts.css');
@import url('assets/css/colors.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SamsungSans-Regular', sans-serif;
    background: var(--bg);
    /*var(--grayBg) */
    overflow-x: hidden;
}

#profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}

.me {
    width: 500px;
}

#aboutMe :where(h1,
p) {
    padding: 18rem 0 2rem 0;
}

#aboutMe button {
    padding: 10px 35px;
    margin: 2px 20px;
    border: 2px solid #3747A6;
    background-color: #435AD9;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'LemonMilkMedium';
    z-index: 999;
    cursor: pointer;
    width: 230px;
}

#aboutMe button:hover {
    cursor: pointer;
}

.myName {
    color: #435AD9;
    user-select: none;
    padding: 10% 0;
    font-size: 70px;
}

.textAboutMe {
    text-align: justify;
    font-size: 20px;
}


/* Menu */

.menuHamburguer span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #3747A6;
}

.menuHamburguer>span:nth-child(1) {
    top: 0;
    z-index: 9999;
    /* Efeito Neon Cores respectivas */
    background: #3747A6;
}

.menuHamburguer>span:nth-child(2) {
    top: 8px;
    left: 13px;
    z-index: 9999;
    /* Efeito Neon Cores respectivas */
    background: #3747A6;
}

.menuHamburguer>span:nth-child(3) {
    top: 16px;
    left: 28px;
    z-index: 9999;
    /* Efeito Neon Cores respectivas */
    background: #3747A6;
}


/* Close The Btn 

Efeito de fechar o menu 

*/


/* star shooting */

.starts {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #435ad918, 0 0 0 8px #435ad90c, 0 0 20px #435ad938;
    animation: animate 3s linear infinite;
    z-index: 1;
}

.starts::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #435ad9, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        transform: rotate(315deg) translateX(-750px);
        opacity: 0;
    }
}

.starts:nth-child(1) {
    top: -14px;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}

.starts:nth-child(2) {
    top: -14px;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.starts:nth-child(3) {
    top: -14px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.starts:nth-child(4) {
    top: -14px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.starts:nth-child(5) {
    top: -14px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.starts:nth-child(6) {
    top: -14px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.starts:nth-child(7) {
    top: -14px;
    right: 0px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 1.75s;
}

.starts:nth-child(8) {
    top: -14px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.starts:nth-child(9) {
    top: -14px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.starts:nth-child(10) {
    top: -14px;
    right: 1000px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}

@media screen and (max-width: 1440px) {
    .me {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 768px) {
    .me {
        margin: 4rem 0 5rem 0;
        width: 300px;
    }
    #profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100vw;
        height: 100vh;
        align-items: center;
        text-align: center;
        margin: 0;
        z-index: 2;
    }
    .textAboutMe {
        text-align: justify;
        font-size: 20px;
        margin: 0 14px;
    }
    .starts::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        height: 1px;
        background: linear-gradient(90deg, #435ad9, transparent);
    }
    #profile {
        grid-template-columns: repeat(1, 1fr);
    }
    #aboutMe :where(h1,
    p) {
        padding: 1rem 0 1rem 0;
    }
    @keyframes animate {
        0% {
            transform: rotate(-90deg) translateX(100px);
            opacity: 1;
        }
        70% {
            opacity: 0.5;
        }
        100% {
            transform: rotate(-90deg) translateX(-400px);
            opacity: 0;
        }
    }
    .starts:nth-child(1) {
        top: -4px;
        right: 10%;
        left: initial;
        animation-delay: 0;
        animation-duration: 1s;
    }
    .starts:nth-child(2) {
        top: -4px;
        right: 20%;
        left: initial;
        animation-delay: 0.2s;
        animation-duration: 3s;
        display: none;
    }
    .starts:nth-child(3) {
        top: -4px;
        right: 30%;
        left: initial;
        animation-delay: 0.4s;
        animation-duration: 2s;
    }
    .starts:nth-child(4) {
        top: -4px;
        right: 40%;
        left: initial;
        animation-delay: 0.6s;
        animation-duration: 1.5s;
        display: none;
    }
    .starts:nth-child(5) {
        top: -4px;
        right: 50%;
        left: initial;
        animation-delay: 0.8s;
        animation-duration: 2.5s;
    }
    .starts:nth-child(6) {
        top: -4px;
        right: 60%;
        left: initial;
        animation-delay: 1s;
        animation-duration: 3s;
        display: none;
    }
    .starts:nth-child(7) {
        top: -4px;
        right: 70%;
        left: initial;
        animation-delay: 1s;
        animation-duration: 1.75s;
    }
    .starts:nth-child(8) {
        top: -4px;
        right: 80%;
        left: initial;
        animation-delay: 1.4s;
        animation-duration: 1.25s;
        display: none;
    }
    .starts:nth-child(9) {
        top: -4px;
        right: 90%;
        left: initial;
        animation-delay: 0.75s;
        animation-duration: 2.25s;
    }
    .starts:nth-child(10) {
        top: -4px;
        right: 100%;
        left: initial;
        animation-delay: 2.75s;
        animation-duration: 2.25s;
        display: none;
    }
}